%container{
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.column-container{
  @extend %container;
  flex-direction: column;
}

.row-container{
  @extend %container;
  flex-direction: row;
}

.aic{
  align-items: center;
}

.jcc{
  justify-content: center;
}

.w50{
  width: 50%;
}