.about-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    h2{
        text-align: center;
    }
    p{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .steps-grid{
        width: 80%;
        margin: 0 auto;
        margin-top: 6em;
        display: grid;
	    grid-gap: 20px;
        grid-template-columns: 0.33fr 0.34fr 0.33fr;
        .step{
            img{
                width: 40px;
                margin-bottom: 10px;
            }
            p{
                width: 100%;
                text-align: left;
            }
        }
    }
}

.orange-blob{
    position: absolute;
    left: -15%;
    top: -20vh;
    width: 300px;
    z-index: -1;
}

@media only screen and (max-width: 1024px){
    .about-section{
        min-height: 80vh;
    }
}

@media only screen and (max-width: 550px){
    .about-section{
        min-height: 100vh;
        padding-top: 6em;
        .steps-grid{
            grid-template-columns: 1fr;
            margin-top: 4em;
            .step{
                text-align: center;
                margin-bottom: 3em;
                img{
                    margin: 0 auto;
                }
                p{
                    text-align: center;
                }
            }
        }
    }

    .orange-blob{
        width: 100px;
    }
}