.register-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  .invite{
    margin-left: 12%;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    .header{
      max-width: 500px;
    }
    .bubble{
        font-weight: 700;
        letter-spacing: 0.7px;
        margin-bottom: 1em;
    }
    img{
        width: 200px;
    }
  }
  .newsletter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
    margin: 0 auto;
    padding-top: 2vh;
    background-color: #cfdf9f;
    .description{
      width: 50%;
    }
    form{
        display: flex;
        width: 90%;
        margin-bottom: 0;
    }
    .stores{
      display: flex;
      flex-direction: column;
      margin-top: 1em;
      h3{
        color: var(--green);
        margin-bottom: 1em;
      }
      .store-img{
        img{
          width: 130px;
        }
      }
    }
    input[type=email]{
        padding: 1em;
        width: 60%;
        border: none;
        border: 2px solid var(--green);
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    button{
        padding: 1em 2.5em;
        cursor: pointer;
        background-color: var(--green);
        border: none;
        color: #fff;
        border: 2px solid var(--green);
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    img{
      width: 220px;
    }
  }
}

@media only screen and (max-width: 550px){
    .register-section{
        margin-top: 4em;
        .invite{
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            display: flex;
            .header{
              align-items: center;
              justify-content: center;
            }
        }
        .newsletter{
            width: 100%;
            padding: 1em;
            flex-direction: column;
            .column-container{
              .description{
                width: 90%;
                margin: 0 auto;
              }
            }
            .stores{
              justify-content: center;
              align-items: center;
              width: 100%;
            }
            form{
              flex-direction: column;
              margin: 2em 0;
              width: 100%;
              input[type=email]{
                  border-radius: 40px;
                  margin-bottom: 10px;
              }
              button{
                  border-radius: 40px;
                  width: 100%;
                  border-top-left-radius: 40px;
                  border-bottom-left-radius: 40px;
              }
            }
        }
    }
}