.about-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    align-items: center;
    padding: 5em 0;
    justify-content: center;
    h2{
        text-align: center;
    }
    p{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .steps-grid{
        width: 80%;
        margin: 0 auto;
        margin-top: 6em;
        display: grid;
	    grid-gap: 20px;
        grid-template-columns: 0.33fr 0.34fr 0.33fr;
        .step{
            img{
                width: 40px;
                margin-bottom: 10px;
            }
            p{
                width: 100%;
                text-align: left;
            }
        }
    }
}

@keyframes rotate{
  0% {transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

.video-section{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em; 
  padding-top: 10em;
  .description{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .circle-bg{
      position: absolute;
      width: 50%;
      z-index: 0;
      animation-name: rotate;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-delay: 0ms;
      animation-timing-function: linear;
    }
    h2{
      width: 100%;
      text-align: center;
      margin-bottom: 0;
      background-color: #fff;
      z-index: 5;
      padding-bottom: 5px;
      color: var(--text);
    } 
  }
  .video-container{
    background-color: #faca82;
    padding: 2em;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    iframe{
      margin-bottom: 0;
      border: none;
    }
  }
}

.orange-blob{
    position: absolute;
    left: -15%;
    top: -20vh;
    width: 300px;
    z-index: -1;
}

@media only screen and (max-width: 1024px){
    .about-section{
        min-height: 80vh;
    }
}

@media only screen and (max-width: 550px){
    .about-section{
        min-height: 100vh;
        padding-top: 6em;
        .steps-grid{
            grid-template-columns: 1fr;
            margin-top: 4em;
            .step{
                text-align: center;
                margin-bottom: 3em;
                img{
                    margin: 0 auto;
                }
                p{
                    text-align: center;
                }
            }
        }
        .video-section{
          flex-direction: column;
          padding: 10vh 0;
          padding-bottom: 0;
          .description{
            margin-bottom: 15vh;
            .circle-bg{
              width: 90%;
            }
            h2{
              font-size: 20px;
            }
          }
          .video-container{
            iframe{
              width: 300px;
              height: 185px;
            }
          }
        }
    }

    .orange-blob{
        width: 100px;
    }
}