/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');

/* VARIABLES */

:root {
    --orange: #f6a51f;
    --green: #a4c33e;
    --light-green: #b2c953;
    --text: #212121;
    --gray: #d8d8d8;
    --light-gray: #e0e0e0;
}

/* IMPORTS */

@import 'components/buttons';
@import 'components/containers';
@import 'components/Intro';
@import 'components/About';
@import 'components/Sofi';
@import 'components/Press';
@import 'components/Newsletter';
@import 'components/footer';
@import 'components/blob';

/* STYLES */ 

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--text);
  position: relative;
  overflow: hidden;
}

.content{
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}

.highlight-text{
  //color: var(--orange);
  background: linear-gradient(to right, #EC6016, #F5A320);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green{
  color: var(--green);
  font-size: 30px;
}

.bg-pattern{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 90%;
  opacity: 0.5;
}